doctype html
html
  head
    title Collaborative DOI
    meta( charset='utf-8' )
    meta( name='viewport' content='initial-scale=1,user-scalable=no' )
    meta( property='og:title' content='Collaborative DOI | CDOI' )
    meta( property='og:description' content='A personal DOI to reward and cite your research collaborations.' )
    meta( property='og:type' content='website' )
    meta( property='og:image' content='https://wafflejs.com/images/#{require("generate-social-img!")}' )
    meta( property='og:url' content='https://doi.jcu.io' )
    base( href='/' )
  body( ng-app='wafflejs' ng-strict-di )
    header
      .container-fluid
        .row.between-xs
          .col-xs-12.col-sm-6.col-md-7
            h4.highlight
              a( ui-sref='index({ day: null })' ) Collaborative DOI
              a( href='https://twitter.com/jcuhackyhour' )
                include images/icons/twitter.svg
              a( href='https://github.com/jcu-eresearch-hackyhour/doi.jcu.io/issues' )
                include images/icons/github.svg
              a( href='https://www.jcu.edu.au/eresearch/contact' )
                include images/icons/slack.svg
          .col-xs-12.col-sm-6.end-sm.col-md-5.start-md
            ul.nav
              li I want to:
              li: a.light-gray( ui-sref='speakers' ) Give recognition
              li: a.light-gray( ui-sref='performers' ) Get recognition
              li: a.light-gray( ui-sref='sponsorship' ) Learn more

    main( ui-view )

    footer.fixed
      .row.start-xs.end-sm
        .col-xs-12.col-sm-5.col-md-3
          a.btn.primary.xs-full-width( ui-sref='tickets' ui-sref-active='ng-hide' )
            .row
              .col-xs-7.start-xs.col-sm-12.center-sm
                // Buy Waffle – $10
                | Get a DOI 
                // Sold Out 😅
              .col-xs-5.end-xs.col-sm-12.center-sm
                small
                  | Free Forever
                  // Join Waiting List

    //-- Twitter universal website tag code
    script.
      !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      // Insert Twitter Pixel ID and Standard Event data below
      twq('init','nxrsd');
      twq('track','PageView');
    //-- End Twitter universal website tag code
